# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/

# SQLite (if used)
*.db

# PDF tickets (your case)
*.pdf

# Redis dump (if local)
dump.rdb